* {
    padding: 0px;
    margin: 0px;
}
  
/* Links */
  
a,
a:link,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
/* Common */
  
aside,
nav,
footer,
header,
section,
main {
    display: block;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}
  
ul,
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
img,
svg {
    max-width: 100%;
    height: auto;
}
  
address {
    font-style: normal;
}
  
/* Form */
  
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
  
input::-ms-clear {
    display: none;
}
  
button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
  
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
label {
    cursor: pointer;
}
  
legend {
    display: block;
}

/*Общие стили*/

html, body {
    height:100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #E4E5EA;
    background-color: #0E1014;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

a {
    color:#E4E5EA;
}

/* HEADER */
.header {
    background-image: url(./img/purple\ ball.svg), url(./img/red\ ball.svg);
    background-position: 63% 0, 38% 72px;
    background-repeat: no-repeat, no-repeat;
}

.header__container {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 59px;
    display: flex;
    align-items:flex-start;
    min-height: 110px;
}

.header__container::before {
    content: "";
    position: absolute;
    top: -154px;
    left: 488px;
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    opacity: 0.5;
    background: #833AB4;
    filter: blur(196px);
}

.header__logo {
    max-width: 143px;
    font-size: 10px;
    margin-right: 50px;
}

.header__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}

.header__list {
    display: flex;
    margin-right: 137px;
}

.header__item:not(:last-child) {
    margin-right: 32px;
}

.header__telephone {
    margin-right: 38px;
}

.header__social:not(:last-child) {
    margin: 0 15px;
}

/* MAIN */
main {
    flex: 1 1 auto;
    background-image: url(./img/red\ ball\ \(1\).svg);
    background-position: 61% 82%;
    background-repeat: no-repeat;
}

.main__container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main__content {
    margin-bottom: 29px;
    max-width: 362px;
    font-size: 48px;
}

.main__content::before{
    position: absolute;
    left: -174px;
    top: 83px;
    content:"";
    width: 311px;
    height: 311px;
    border-radius: 311px;
    opacity: 0.5;
    background: #961A1A;
    filter: blur(196px);
}

.main__gradient {
    background-image:linear-gradient(90deg, #FCB045 20%, #FF3F78 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.main__paragraph {
    max-width: 275px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.main__info {
    padding-top: 17px;
    margin-bottom: 15px;
    max-width: 291px;
    text-align: right;
}

.main__list {
    margin-bottom: 41px;
    font-size: 18px;
    font-weight: 500;
}

span {
    background-image:linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.main__card {
    display: grid;
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(2, 61px);
    column-gap: 16px;
    row-gap: 37px;
    text-align: right;
    margin-bottom: 67px;
}

.main__name {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
}

.main__text {
    font-family: 'Montserrat', sans-serif;
}

.main__btn {
    width: 262px;
    height: 61px;
    flex-shrink: 0;
    background-color: #4077F3;
    transition: all 0.5s ease 0s;
    margin-bottom: 69px;
}

.main__btn:hover,
.main__btn:focus {
  background-color: blueviolet;
  transition: all 1s ease 0s;
}

.main__btn:active {
  position: relative;
  top: 1px; 
  background-color: aqua;
  transition: all 0.3s ease 0s;
}

.main__mobile {
    display: none;
}

/* FOOTER */
.footer__container {
    padding-top: 40px;
    min-height: 315px;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
}

.footer__title {
    color: #656566;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__company {
    margin-right: 98px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer__list_menu {
    column-gap: 52px;
    flex-wrap: wrap;
    height: 141px;
}

.footer__menu {
    margin-right: 163px;
}

.footer__law {
    text-align: right; 
    display: flex;
    flex-direction: column;
}

.footer__contact {
    margin-bottom: 47px;
}

.footer__telephone, .footer__icon, .footer__adress {
    margin-bottom: 20px;
}

.footer__social:not(:last-child) {
    margin-right: 10px;
}

.footer__end {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.footer__text_line {
    text-decoration: underline;
    margin-top: 5px;
}





@media screen and (max-width: 1280px) {
/* HEADER */
.header__list {
    margin-right: 33px;
}

.header__social:not(:last-child) {
    margin: 0 5px;
}
}

@media screen and (max-width: 1024px) {
/* HEADER */
.header__telephone, .header__icon {
    display: none;
}
}

@media screen and (max-width: 992px) {
/* HEADER */

.header__list {
    margin-right: 0;
}

/* FOOTER */
.footer__list_menu {
    height: 160px;
}
}

@media screen and (max-width: 768px) {
/* MAIN */
.main__container {
    padding-top: 40px;
    flex-wrap: wrap;
}

.main__btn {
    width: 230px;
    height: 55px;
}

/* FOOTER */
.footer__container {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.footer__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.footer__company {
    margin-bottom: 23px;
}

.footer__menu {
    margin-right: 0;
}

.footer__law {
    text-align: left;
}
}

@media screen and (max-width: 682px) {
/* HEADER */
.header__item:last-child {
    display: none;
}

/* MAIN */
.main__info {
    text-align: left;
}

.main__card {
    text-align: left;
}
}

@media screen and (max-width: 576px) {
/* HEADER */
.header__container {
    justify-content: center;
}

.header__logo {
    display: none
}
}

@media screen and (max-width: 424px) {
/* HEADER */
.header {
    background-image: none;
}

.header__container {
    margin-top: 20px;
    min-height: 35px;
}

.header__menu {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.header__item:not(:last-child) {
    margin-right: 13px;
}

/* FOOTER */
.footer__menu {
    max-width: 111px;
    margin-right: 0;
    font-size: 14px;
}
    
.footer__title {
    font-size: 12px;
    letter-spacing: 0.6px;
}

.footer__list_menu {
    column-gap: 38px;
    flex-wrap: wrap;
    height: 142px;
}

.footer__contact {
    margin-bottom: 43px;
}
    
.footer__item:nth-child(6) {
    order: 7;
}
    
.footer__item:nth-child(7) {
    order: 6;
}

.footer__item:nth-child(8) {
    order: 8;
}

.footer__item:nth-child(9) {
    order: 9;
}

.footer__item:nth-child(10) {
    order: 10;
}
}

@media screen and (max-width: 375px) {
/* HEADER */
.header__container::before {
    display: none;
}

/* MAIN */
.main__container {
    overflow: hidden;
}

.main {
    background-image: url("./img/bg.png");
    background-size: cover;
    background-position: center;
}

.main__content {
    margin-bottom: 15px;
    max-width: 272px;
    font-size: 36px;
}

.main__content::before {
  display:none;
}
    
.main__welbex {
    margin-bottom: 45px;
}
    
.main__list {
    margin-bottom: 20px;
    max-width: 272px;
    line-height: 1.2;
}
    
span {
    text-transform:lowercase;
    letter-spacing: 0.3px;
}
    
.main__info {
    display: none;
}
    
.main__mobile {
    display: block;
    position: relative;
    top:0;
    left:0;
}

.main__cards {
    display: grid;
    grid-template-columns: 119px 142px;
    grid-template-rows: repeat(2, 16px);
    row-gap: 14px;
    column-gap: 4px;
    text-align: left;
    margin-bottom: 61px;
}
    
.main__elem {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
    position: relative;
    margin-left: 15px;
    text-transform: uppercase;
}
    
.main__elem::before {
    position: absolute;
    left: -13px;
    top: 8px;
    content: "";
    width: 10px;
    height: 1px;
    background-image:linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
}
    
.main__text {
    display: none;
}
    
.main__btn {
    display: none;
}
    
/* FOOTER */
.footer__container {
    padding-bottom: 60px;
}

.footer__company {
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.footer__telephone, .footer__icon, .footer__adress {
    margin-bottom: 10px;
}
    
.footer__adress {
    font-size: 14px;
}
}

@media screen and (max-width: 300px) {
/* HEADER */
.header__menu {
    font-size: 11px;
}

/* MAIN */
.main__content {
    font-size: 34px;
}

.main__paragraph {
    font-size: 16px;
}

.main__cards {
    column-gap: 3px;
}

/* FOOTER */
.footer__list_menu {
    column-gap: 18px;
}
}